body {
  font-family: 'BNazanin' !important
}


@font-face {
  font-family: 'BNazanin';
  src: url('../public/Fonts/BNazanin.woff') format('woff'), url('../public/Fonts/BNazanin.ttf') format('truetype');
}

@font-face {
  font-family: 'Morvarid';
  src: url('../public/Fonts/Far_Morvarid.woff') format('woff'), url('../public/Fonts/Far_Morvarid.ttf') format('truetype');
}